<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>

	<h1>Epic Task</h1>
	
	<h2>Cadastrar Usuario</h2>
	
	<form action="/cadastro" method="post" th:object="${usuario}">
		<label for="name">Nome: </label>
		<input name="name" id="name" th:field="*{name}" />
		<span th:errors="*{name}"></span>
		
		<label for="email">E-mail</label>
		<input name="email" id="email" th:field="*{email}"></input>
		<span th:errors="*{email}"></span>
		
		<label for="password">Senha</label>
		<input type="password" name="password" id="password" th:field="*{password}"/>
		<span th:errors="*{password}"></span>
		
		<a href="/login">Cancelar</a>
		<button>Salvar</button>
		
	</form>
</body>
</html>